name: deployment

on:
  push:
  create:
  delete:

jobs:
  setup-runner:
    runs-on: ubuntu-latest
    steps:
      - name: install-dep
        run: |
          sudo apt-get update
          sudo apt install -y sshpass jq
      - name: setting-up-runner
        uses: maxklema/proxmox-launchpad@main
        with:
          proxmox_username: lattln
          proxmox_password: ${{ secrets.proxmox_password }}
          github_pat: ${{ secrets.runner_pat }}
  deploy:
    runs-on: self-hosted
    needs: setup-runner
    steps:
      - name: deploy-to-proxmox
        uses: maxklema/proxmox-launchpad@main
        with:
          proxmox_username: lattln
          proxmox_password: ${{ secrets.proxmox_password }}
          github_pat: ${{ secrets.runner_pat }}
          http_port: 5173
          install_command: npm install
          start_command: npm run dev --host 0.0.0.0
          runtime_language: nodejs


